@implements IDisposable

@inject NavigationManager NavigationManager

@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <NavLink class="navbar-brand" href="">ProjectManager</NavLink>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="px-3 nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="px-3 nav-item">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="px-3 nav-item">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <div class="px-3 nav-item">
            <NavLink class="nav-link" href="auth">
                <span class="bi bi-lock-nav-menu" aria-hidden="true"></span> Auth Required
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="px-3 nav-item">
                    <NavLink class="nav-link" href="Account/Manage">
                        <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @context.User.Identity?.Name
                    </NavLink>
                </div>
                <div class="px-3 nav-item">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="nav-link">
                            <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                        </button>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="px-3 nav-item">
                    <NavLink class="nav-link" href="Account/Register">
                        <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
                    </NavLink>
                </div>
                <div class="px-3 nav-item">
                    <NavLink class="nav-link" href="Account/Login">
                        <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div> *@

<AuthorizeView>
<div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu"
     aria-labelledby="sidebarMenuLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="sidebarMenuLabel">Company name</h5> <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
    </div>
    <div class="p-0 overflow-y-auto offcanvas-body d-md-flex flex-column pt-lg-3">

            <ul class="nav flex-column">
                <li class="nav-item">
                    <NavLink class="gap-2 nav-link d-flex align-items-center active" aria-current="page" href="#">
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="#house-fill"></use>
                        </svg>
                        Dashboard
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="gap-2 nav-link d-flex align-items-center" href="#">
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="#file-earmark"></use>
                        </svg>
                        Orders
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="gap-2 nav-link d-flex align-items-center" href="#">
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="#cart"></use>
                        </svg>
                        Products
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="gap-2 nav-link d-flex align-items-center" href="#">
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="#people"></use>
                        </svg>
                        Customers
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="gap-2 nav-link d-flex align-items-center" href="#">
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="#graph-up"></use>
                        </svg>
                        Reports
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="gap-2 nav-link d-flex align-items-center" href="#">
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="#puzzle"></use>
                        </svg>
                        Integrations
                    </NavLink>
                </li>
            </ul>
            <h6
                class="px-3 mt-4 mb-1 sidebar-heading d-flex justify-content-between align-items-center text-body-secondary text-uppercase">
                <span>Saved reports</span> 
                <NavLink class="link-secondary" href="#" aria-label="Add NavLink new report">
                <svg class="bi" aria-hidden="true">
                    <use xlink:href="#plus-circle"></use>
                </svg>
            </NavLink>
        </h6>
        <ul class="mb-auto nav flex-column">
            <li class="nav-item">
                <NavLink class="gap-2 nav-link d-flex align-items-center" href="#">
                    <svg class="bi" aria-hidden="true">
                        <use xlink:href="#file-earmark-text"></use>
                    </svg>
                    Current month
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="gap-2 nav-link d-flex align-items-center" href="#">
                    <svg class="bi" aria-hidden="true">
                        <use xlink:href="#file-earmark-text"></use>
                    </svg>
                    Last quarter
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="gap-2 nav-link d-flex align-items-center" href="#">
                    <svg class="bi" aria-hidden="true">
                        <use xlink:href="#file-earmark-text"></use>
                    </svg>
                    Social engagement
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="gap-2 nav-link d-flex align-items-center" href="#">
                    <svg class="bi" aria-hidden="true">
                        <use xlink:href="#file-earmark-text"></use>
                    </svg>
                    Year-end sale
                </NavLink>
            </li>
        </ul>
        <hr class="my-3">
        <ul class="mb-auto nav flex-column">
            <li class="nav-item">
                <NavLink class="gap-2 nav-link d-flex align-items-center" href="#">
                    <svg class="bi" aria-hidden="true">
                        <use xlink:href="#gear-wide-connected"></use>
                    </svg>
                    Settings
                </NavLink>
            </li>
            <Authorized>
            <li class="nav-item">
                @* <NavLink class="gap-2 nav-link d-flex align-items-center" href="#">
                    <svg class="bi" aria-hidden="true">
                        <use xlink:href="#door-closed"></use>
                    </svg>
                    Sign out
                </NavLink> *@
                
                <div class="px-3 nav-item">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="nav-link">
                            @* <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout *@uye
                            <use xlink:href="#door-closed" class=""></use>
                            Logout
                        </button>
                    </form>
                    </div>
            </li>
                <div class="px-3 nav-item">
                    <NavLink class="nav-link" href="Account/Manage">
                        <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @context.User.Identity?.Name
                    </NavLink>
                </div>
                <div class="px-3 nav-item">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="nav-link">
                            <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                        </button>
                    </form>
                </div>
            </Authorized>
        </ul>
</div>
    </div>
</AuthorizeView>
@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}