@page "/Settings"

<PageTitle>MEPA | Settings</PageTitle>

<div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="details-tab" data-bs-toggle="tab" data-bs-target="#details-tab-pane" type="button" role="tab" aria-controls="details-tab-pane" aria-selected="true">Account</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="projects-tab" data-bs-toggle="tab" data-bs-target="#projects-tab-pane" type="button" role="tab" aria-controls="projects-tab-pane" aria-selected="false">Status</button>
        </li>
        @* <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Contact</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="disabled-tab" data-bs-toggle="tab" data-bs-target="#disabled-tab-pane" type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false" disabled>Disabled</button>
        </li> *@
    </ul>
    <div class="py-2 bg-white tab-content border-start border-bottom rounded-bottom border-end mt--1" id="myTabContent">
        <div class="tab-pane fade show active " id="details-tab-pane" role="tabpanel" aria-labelledby="details-tab" tabindex="0">
            <ManageLayout/>
        </div>
        <div class="tab-pane fade" id="projects-tab-pane" role="tabpanel" aria-labelledby="projects-tab" tabindex="0">
            <div class="px-2 py-2 mb-2 row">
                <div class="col-md-6">
                    <h5>Proponent Projects</h5>
                </div>
                <div class="col-md-6 text-end">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><span class="pr-2"><i class="bi bi-plus-square"></i></span>&nbsp;Add</button>
                </div>
            </div>
                <div class="px-2 py-2 mx-2 border rounded bg-body-tertiary">
                    <table class="table p-2 rounded-pill table-hover">
                        <thead class="text-white bg-dark">
                            <tr class="">
                                <th scope="col">#</th>
                                <th scope="col">Status</th>
                                <th scope="col">Color</th>
                                <th scope="col">Created On</th>
                                <th scope="col">Updated On</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td class="py-2">Approved</td>
                                <td class="py-2">
                                    <div class="p-2 mx-auto text-center">
                                        <span class="rounded-pill border-success bg-success" style="width: 20px; height: 20px; display: inline-block;"></span>
                                    </div>
                                </td>
                                <td class="py-2">@DateTime.Now.ToString()</td>
                                <td class="py-2">@DateTime.Now.ToString()</td>
                                <td>
                                    <div class="p-2 text-end">
                                    <NavLink class="btn p-2 btn-outline-success">
                                            <i class="bi bi-pencil-square"></i>
                                        </NavLink>
                                    <NavLink class="btn p-2 btn-outline-danger">
                                            <i class="bi bi-trash"></i>
                                        </NavLink>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td class="py-2">Review</td>
                                <td class="py-2">
                                    <div class="p-2 mx-auto text-center">
                                        <span class="rounded-pill border-success bg-info" style="width: 20px; height: 20px; display: inline-block;"></span>
                                    </div>
                                </td>
                                <td class="py-2">@DateTime.Now.ToString()</td>
                                <td class="py-2">@DateTime.Now.ToString()</td>
                                <td>
                                    <div class="p-2 text-end">
                                        <NavLink class="p-2 text-white border rounded border-success text-success btn-outline-success">
                                            <i class="bi bi-pencil-square text-success"></i>
                                        </NavLink>
                                        <NavLink class="p-2 text-white border rounded text-danger border-danger btn-outline-danger">
                                            <i class="bi bi-trash text-danger"></i>
                                        </NavLink>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td class="py-2">In-Progress</td>
                                <td class="py-2">
                                    <div class="p-2 mx-auto text-center">
                                        <span class="rounded-pill border-success bg-primary" style="width: 20px; height: 20px; display: inline-block;"></span>
                                    </div>
                                </td>
                                <td class="py-2">@DateTime.Now.ToString()</td>
                                <td class="py-2">@DateTime.Now.ToString()</td>
                                <td>
                                    <div class="p-2 text-end">
                                        <NavLink class="p-2 text-white border rounded border-success text-success btn-outline-success">
                                            <i class="bi bi-pencil-square text-success"></i>
                                        </NavLink>
                                        <NavLink class="p-2 text-white border rounded text-danger border-danger btn-outline-danger">
                                            <i class="bi bi-trash text-danger"></i>
                                        </NavLink>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td class="py-2">Submitted</td>
                                <td class="py-2">
                                    <div class="p-2 mx-auto text-center">
                                        <span class="rounded-pill border-success bg-warning" style="width: 20px; height: 20px; display: inline-block;"></span>
                                    </div>
                                </td>
                                <td class="py-2">@DateTime.Now.ToString()</td>
                                <td class="py-2">@DateTime.Now.ToString()</td>
                                <td>
                                    <div class="p-2 text-end">
                                        <NavLink class="p-2 text-white border rounded border-success text-success btn-outline-success">
                                            <i class="bi bi-pencil-square text-success"></i>
                                        </NavLink>
                                        <NavLink class="p-2 text-white border rounded text-danger border-danger btn-outline-danger">
                                            <i class="bi bi-trash text-danger"></i>
                                        </NavLink>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>
        </div>
    </div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Create Status</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Status Name</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Status Name." required>
                </div>
                <div class="">
                    <label for="exampleFormControlInput1" class="form-label">Project Proponent</label>
                    <div class="p-2 row">
                    @foreach (var item in Colors)
                    {
                        <div class="col-auto mb-2">
                            <StatusItem Name="@item.Name" Colour="@item.Class" />
                        </div>
                    }
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>
</div>

@code {

    private List<ColorOption> Colors = new()
    {
        new ColorOption("Blue","bg-primary"),
        new ColorOption("Green","bg-success"),
        new ColorOption("Yellow","bg-warning"),
        new ColorOption("Light Blue","bg-info"),
        new ColorOption("Red","bg-danger"),
        new ColorOption("Black","bg-dark"),
        new ColorOption("Gray","bg-secondary"),
        new ColorOption("White","bg-light")
    };

    public class ColorOption
    {
        public string Name { get; set; }
        public string Class { get; set; }

        public ColorOption(string name, string cssClass)
        {
            Name = name;
            Class = cssClass;
        }
    }
}
