@page "/Tracking"

<div class="row">
    <div class="col-md-8">
        <h3>Tracking</h3>
    </div>
    <div class="col-md-2">
        <div class="mb-3 input-group rounded-pill">
            <span class="input-group-text" id="basic-addon1">Show</span>
            <select class="form-control-sm" aria-label="Username" aria-describedby="basic-addon1">
                <option>10</option>
                <option>20</option>
                <option>30</option>
                <option>40</option>
                <option>50</option>
            </select>
        </div>
    </div>
    <div class="col-md-2 text-end">
        <div class="dropdown-center">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Export
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">PDF</a></li>
                <li><a class="dropdown-item" href="#">Excel</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="mb-3 input-group">
            <span class="input-group-text" id="basic-addon1">Search</span>
            <input type="text" class="form-control" placeholder="Search" aria-label="Username" aria-describedby="basic-addon1">
        </div>
    </div>
    <div class="col-md-3">
        <div class="mb-3 input-group">
            <label class="input-group-text" for="inputGroupSelect01">Type</label>
            <select class="form-select" id="inputGroupSelect01">
                <option selected>Choose...</option>
                <option selected>Proposal</option>
                <option value="0">ESMP</option>
                <option value="1">Audit</option>
                <option value="2">ESIA</option>
            </select>
        </div>
    </div>
    <div class="col-md-3">
        <div class="mb-3 input-group">
            <label class="input-group-text" for="inputGroupSelect01">Status</label>
            <select class="form-select" id="inputGroupSelect01">
                <option selected>Choose...</option>
                @* @foreach (var status in Statuses)
                {
                    <option value="@status.ID">@status.Name</option>
                } *@
            </select>
        </div>
    </div>
</div>

<div class="border rounded bg-body-tertiary">
    <table class="table p-2 mt-2 rounded-pill table-hover">
        <thead class="text-white bg-dark">
            <tr class="">
                <th scope="col">#</th>
                <th scope="col">Project Name </th>
                <th scope="col">Proponent</th>
                @* <th scope="col">Location</th> *@
                <th scope="col">Reviewer</th>
                <th scope="col">Status</th>
                <th scope="col">Assigned</th>
                <th scope="col">Completed</th>
                @* <th scope="col">Action</th> *@
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td class="py-2">
                    @TruncateToWords("Revised ESMP for Dumisan Borrow Pit in Kasungu District", 6)
                </td>
                <td class="py-2">
                    Mota-Engil
                </td>
                <td class="py-2">John Doe</td>
                <td class="py-2">Completed</td>
                <td class="py-2">@DateTime.Now.AddMonths(-1)</td>
                <td class="py-2">@DateTime.Now.AddMonths(-1)</td>
                </tr>
            <tr>
                <th scope="row">2</th>
                <td class="py-2">
                    @TruncateToWords("Revised ESMP for Dumisan Borrow Pit in Kasungu District", 6)
                </td>
                <td class="py-2">
                    Mota-Engil
                </td>
                <td class="py-2">John Doe</td>
                <td class="py-2">Completed</td>
                <td class="py-2">@DateTime.Now.AddMonths(-1)</td>
                <td class="py-2">@DateTime.Now.AddMonths(-1)</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td class="py-2">
                    @TruncateToWords("Revised ESMP for Dumisan Borrow Pit in Kasungu District", 6)
                </td>
                <td class="py-2">
                    Mota-Engil
                </td>
                <td class="py-2">John Doe</td>
                <td class="py-2">Completed</td>
                <td class="py-2">@DateTime.Now.AddMonths(-1)</td>
                <td class="py-2">@DateTime.Now.AddMonths(-1)</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td class="py-2">
                    @TruncateToWords("Revised ESMP for Dumisan Borrow Pit in Kasungu District", 6)
                </td>
                <td class="py-2">
                    Mota-Engil
                </td>
                <td class="py-2">John Doe</td>
                <td class="py-2">Completed</td>
                <td class="py-2">@DateTime.Now.AddMonths(-1)</td>
                <td class="py-2">@DateTime.Now.AddMonths(-1)</td>
            </tr>
        </tbody>
    </table>
    <div class="justify-content-center d-flex">
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item"><a href="#" class="page-link">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active">
                    <a class="page-link" href="#" aria-current="page">2</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>
</div>

@code {
    private string TruncateToWords(string text, int wordLimit)
    {
        if (string.IsNullOrEmpty(text)) return text;

        var words = text.Split(' ');
        if (words.Length <= wordLimit) return text;

        return string.Join(" ", words.Take(wordLimit)) + "...";
    }
}
