@page "/Project/View"

<PageTitle>MEPA | Project Details</PageTitle>

<div class="container">
    <div class="my-2 row">
        <div class="col-md-5">
            <h3>Project Details</h3>
        </div>
    </div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="details-tab" data-bs-toggle="tab" data-bs-target="#details-tab-pane" type="button" role="tab" aria-controls="details-tab-pane" aria-selected="true">Details</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="projects-tab" data-bs-toggle="tab" data-bs-target="#projects-tab-pane" type="button" role="tab" aria-controls="projects-tab-pane" aria-selected="false">Timelines</button>
        </li>
        @* <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Contact</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="disabled-tab" data-bs-toggle="tab" data-bs-target="#disabled-tab-pane" type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false" disabled>Disabled</button>
        </li> *@
    </ul>
    <div class="tab-content bg-white rounded-bottom  border-start border-end border-bottom mt--1" id="myTabContent">
        <div class="tab-pane fade show active " id="details-tab-pane" role="tabpanel" aria-labelledby="details-tab" tabindex="0">
            <div class="mb-2 row px-2">
                <div class="my-4 col-6">
                    <div class="row">
                        <span class="col-4">Name</span>
                        <span class="col-8">Name</span>
                    </div>
                </div>
                <div class="my-4 col-6 border-start border-2">
                    <div class="row">
                        <span class="col-4">Location</span>
                        <span class="col-8">Name</span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <span class="col-4">Postal Address</span>
                        <span class="col-8">Name</span>
                    </div>
                </div>
            </div>
            <div class="border-top px-2">
                <div class="my-2 row">
                    <div class="col-md-5">
                        <h3>Contact Details</h3>
                    </div>
                    <div class="col-md-5">
                        <div class="mb-3 input-group">
                            <span class="input-group-text" id="basic-addon1">Search</span>
                            <input type="text" class="form-control" placeholder="Search" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="dropdown-center">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Export
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">PDF</a></li>
                                <li><a class="dropdown-item" href="#">Excel</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-1 text-end">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="bi bi-plus-square"></i>Add</button>
                    </div>
                </div>

                <div class="border rounded bg-body-tertiary my-2">
                    <table class="table p-2 mt-2 rounded-pill table-hover">
                        <thead class="text-white bg-dark">
                            <tr class="">
                                <th scope="col">#</th>
                                <th scope="col">Full Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Created On</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td class="py-2">
                                    John Doe
                                </td>
                                <td class="py-2">jdoe@gmail.com</td>
                                <td class="py-2">1234567890</td>
                                <td class="py-2">@DateTime.Now.AddMonths(-1)</td>
                                <td class="py-2">
                                    <div class="flex-row d-flex">
                                        <div class="p-1">
                                            <NavLink class="p-2 text-white rounded bg-success">
                                                <i class="bi bi-pencil-square"></i>
                                            </NavLink>
                                        </div>
                                        <div class="p-1">
                                            <NavLink class="p-2 text-white rounded bg-danger">
                                                <i class="bi bi-trash"></i>
                                            </NavLink>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td class="py-2">
                                    John Doe
                                </td>
                                <td class="py-2">jdoe@gmail.com</td>
                                <td class="py-2">1234567890</td>
                                <td class="py-2">@DateTime.Now.AddMonths(-1)</td>
                                <td class="py-2">
                                    <div class="flex-row d-flex">
                                        <div class="p-1">
                                            <NavLink class="p-2 text-white rounded bg-success">
                                                <i class="bi bi-pencil-square"></i>
                                            </NavLink>
                                        </div>
                                        <div class="p-1">
                                            <NavLink class="p-2 text-white rounded bg-danger">
                                                <i class="bi bi-trash"></i>
                                            </NavLink>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td class="py-2">
                                    John Doe
                                </td>
                                <td class="py-2">jdoe@gmail.com</td>
                                <td class="py-2">1234567890</td>
                                <td class="py-2">@DateTime.Now.AddMonths(-1)</td>
                                <td class="py-2">
                                    <div class="flex-row d-flex">
                                        <div class="p-1">
                                            <NavLink class="p-2 text-white rounded bg-success">
                                                <i class="bi bi-pencil-square"></i>
                                            </NavLink>
                                        </div>
                                        <div class="p-1">
                                            <NavLink class="p-2 text-white rounded bg-danger">
                                                <i class="bi bi-trash"></i>
                                            </NavLink>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td class="py-2">
                                    John Doe
                                </td>
                                <td class="py-2">jdoe@gmail.com</td>
                                <td class="py-2">1234567890</td>
                                <td class="py-2">@DateTime.Now.AddMonths(-1)</td>
                                <td class="py-2">
                                    <div class="flex-row d-flex">
                                        <div class="p-1">
                                            <NavLink class="p-2 text-white rounded bg-success">
                                                <i class="bi bi-pencil-square"></i>
                                            </NavLink>
                                        </div>
                                        <div class="p-1">
                                            <NavLink class="p-2 text-white rounded bg-danger">
                                                <i class="bi bi-trash"></i>
                                            </NavLink>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td class="py-2">
                                    John Doe
                                </td>
                                <td class="py-2">jdoe@gmail.com</td>
                                <td class="py-2">1234567890</td>
                                <td class="py-2">@DateTime.Now.AddMonths(-1)</td>
                                <td class="py-2">
                                    <div class="flex-row d-flex">
                                        <div class="p-1">
                                            <NavLink class="p-2 text-white rounded bg-success">
                                                <i class="bi bi-pencil-square"></i>
                                            </NavLink>
                                        </div>
                                        <div class="p-1">
                                            <NavLink class="p-2 text-white rounded bg-danger">
                                                <i class="bi bi-trash"></i>
                                            </NavLink>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">6</th>
                                <td class="py-2">
                                    John Doe
                                </td>
                                <td class="py-2">jdoe@gmail.com</td>
                                <td class="py-2">1234567890</td>
                                <td class="py-2">@DateTime.Now.AddMonths(-1)</td>
                                <td class="py-2">
                                    <div class="flex-row d-flex">
                                        <div class="p-1">
                                            <NavLink class="p-2 text-white rounded bg-success">
                                                <i class="bi bi-pencil-square"></i>
                                            </NavLink>
                                        </div>
                                        <div class="p-1">
                                            <NavLink class="p-2 text-white rounded bg-danger">
                                                <i class="bi bi-trash"></i>
                                            </NavLink>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="justify-content-center d-flex">
                        <nav aria-label="...">
                            <ul class="pagination">
                                <li class="page-item"><a href="#" class="page-link">Previous</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item active">
                                    <a class="page-link" href="#" aria-current="page">2</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
</div>
        </div>
        <div class="tab-pane fade" id="projects-tab-pane" role="tabpanel" aria-labelledby="projects-tab" tabindex="0">
            @* <div class="mb-2 row px-2 pt-2">
                <div class="col-md-3">
                    <h3>Proponent Projects</h3>
                </div>
                <div class="col-md-2">
                    <div class="mb-3 input-group rounded-pill">
                        <span class="input-group-text" id="basic-addon1">Show</span>
                        <select class="form-control-sm" aria-label="Username" aria-describedby="basic-addon1">
                            <option>10</option>
                            <option>20</option>
                            <option>30</option>
                            <option>40</option>
                            <option>50</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="mb-3 input-group">
                        <span class="input-group-text" id="basic-addon1">Search</span>
                        <input type="text" class="form-control" placeholder="Search" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="dropdown-center text-end">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Export
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">PDF</a></li>
                            <li><a class="dropdown-item" href="#">Excel</a></li>
                        </ul>
                    </div>
                </div>
            </div> *@
            @* <div class="border rounded mb-2 mx-2 px-2"> *@
                <div class="container py-4">
    <h5 class="fw-semibold mb-4">Project Timelines</h5>

    <div class="planning-timeline">

        <div class="timeline-item pb-4 pt-2">
            <div class="timeline-dot"></div>
            <div class="timeline-content">
                <div class="text-muted small mb-2">
                    <i class="bi bi-calendar-event-fill me-1"></i> 12 Oct 2023
                    <span class="ms-2"><i class="bi bi-clock-fill me-1"></i> 10:30 AM</span>
                </div>

                <div class="card border-0 bg-body-tertiary">
                    <div class="card-body">
                                    <span class="fw-semibold text-primary d-inline-block mb-3">
                                        Status Update | Review Update
                                    </span>
                        <div class="row g-3">
                            <div class="col-md-4">
                                            <div class="text-muted small"><i class="bi bi-stars me-1"></i>Status</div>
                                <div class="fw-medium">Review</div>
                            </div>
                            <div class="col-md-4">
                                            <div class="text-muted small"><i class="bi bi-person-badge-fill me-1"></i>Reviewer Name</div>
                                <div class="fw-medium">Maria Kitty</div>
                            </div>
                            <div class="col-md-4">
                                            <div class="text-muted small"><i class="bi bi-chat-square-dots-fill me-1"></i>Review</div>
                                <div class="fw-medium">@TruncateToWords("Please change the header", 3)</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

                    <div class="timeline-item pb-4 pt-2">
                        <div class="timeline-dot"></div>
                        <div class="timeline-content">
                            <div class="text-muted small mb-2">
                                <i class="bi bi-calendar-event-fill me-1"></i> 12 Oct 2023
                                <span class="ms-2"><i class="bi bi-clock-fill me-1"></i> 10:30 AM</span>
                            </div>

                            <div class="card border-0 bg-body-tertiary">
                                <div class="card-body">
                                    <span class="fw-semibold text-primary d-inline-block mb-3">
                                        Status Update | Review Update
                                    </span>

                                    <div class="row g-3">
                                        <div class="col-md-4">
                                            <div class="text-muted small"><i class="bi bi-stars me-1"></i>Status</div>
                                            <div class="fw-medium">Completed</div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="text-muted small"><i class="bi bi-person-badge-fill me-1"></i>Reviewer Name</div>
                                            <div class="fw-medium">Maria Kitty</div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="text-muted small"><i class="bi bi-chat-square-dots-fill me-1"></i>Review</div>
                                            <div class="fw-medium">@TruncateToWords("Please change the header", 3)</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    </div>
</div>


            @* </div> *@

        </div>
        @* <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">...</div>
        <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">...</div> *@
    </div>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Create Proponent</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Proponent Name</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Proponent Name." required>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Postal Address</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Proponent Postal Address." required>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Proponet Location</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Proponent Location." required>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>
</div>

<style>
    .planning-timeline {
        position: relative;
        margin-left: 0.5rem;
    }

    .timeline-item {
        position: relative;
        padding-left: 2rem;
    }

        .timeline-item::before {
            content: "";
            position: absolute;
            left: 0.47rem;
            top: 0.9rem;
            bottom: -0.5rem;
            width: 2px;
            background: #cfe2ff;
        }

        .timeline-item:last-child::before {
            bottom: 1.5rem;
        }

    .timeline-dot {
        position: absolute;
        left: 0;
        top: 0.7rem;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background: #fff;
        border: 2px solid #0d6efd;
        box-shadow: 0 0 0 3px #e7f1ff;
    }

    .timeline-content .card {
        border-radius: 0.5rem;
    }

</style>

@code {
    private string TruncateToWords(string text, int wordLimit)
    {
        if (string.IsNullOrEmpty(text)) return text;

        var words = text.Split(' ');
        if (words.Length <= wordLimit) return text;

        return string.Join(" ", words.Take(wordLimit)) + "...";
    }
}
